@page "/"
@inject LocalStorage Storage
@inject Sotsera.Blazor.Toaster.IToaster Toaster

@if (Storage.GetItem("Transaction") == "logout")
{
    Toaster.Info("you have been successfully logged out of the system.", "Logged Out");
    Storage.RemoveItem("Transaction");
}
    <div class="container">

       

        <div>&nbsp;</div>

        <div class="row">
           
                
        </div>
    </div>


@code {
    private string _apiImage = @"..\img\apis.jpg";
    private string _typeaheadImage = @"..\img\type-ahead.jpg";
    private string _alexaImage = @"..\img\alexa.jpg";
    //private string _automateImage = @"..\img\automate.jpg";

   
}

<!--
div class="row">
    
</div>
   


-->
